CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
__pycache__
*.pyc
.idea/
cmake-build-debug/
.DS_Store
labs/misc/io_opt1/DataPaths.h
labs/misc/io_opt1/data/
labs/memory_bound/mem_order_violation_1/DataPaths.h

build_solution
build_baseline
build
results.json
/tools/benchmark/
